/* Glucose Calculator */

html {
    background-color: #0f080f;
    font-size: 100%;
    font-family: sans-serif;
}

#root {
    display: grid;
    align-content: center;
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "calc-form calc-form"
    "output output"
    "info home";
    height: max-content;
    background-color: #663366;
    border-style: none;
    border-radius: 15px;
    margin: auto;
    max-width: 800px;
    height: max-content;
    padding: 10px;
    margin-top: 20px;
    /*box-shadow: 2px 2px 2px #ba5dba;*/
}

#calc-form {
    grid-area: calc-form;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 70% auto;
    grid-template-areas: "input calculate";
}

#calculate {
    grid-area: calculate;
    background-color: white;
    font-size: 1em;
    color: #663366;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px #0f080f;
}

#calculate:hover {
    color: #ba5dba;
}

#header {
    grid-area: header;
    font-family: 'Righteous', cursive;
    font-size: 2em;
    color: white;
    padding: 5px;
}

#info {
    grid-area: info;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: white;
    padding: 5px;
    margin-top: 10px
}

#input {
    grid-area: input;
    margin: 5px;
    font-size: 2em;
    padding: 2px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #0f080f inset;
    width: content;
}

#output {
    grid-area: output;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
}

#home {
    display: grid;
    grid-area: home;
    align-content: center;
    background-color: white;
    height: 20px;
    text-align: center;
    font-size: 1em;
    color: #663366;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    box-shadow: 2px 2px 2px #0f080f;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #ba5dba;
}

@media (max-width: 720px) {
    #root {
        display: grid;
        place-items: center center;
        grid-gap: 10px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "header header"
        "calc-form calc-form"
        "output output"
        "info info" 
        "home home";
        width: min-content;

    }

    #calc-form {
        justify-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "input" "calculate";
    }

    #calculate {
        width: 50%;
    }
    
    #calc-form {
    }

    #calculate:hover {
    }
    
    #header {
    }
    
    #info {
        width: 70%;
        justify-self: inherit;
    }
    
    #input {
    }
    
    #output {
    }
    
    #home {
        width: min-content;
        height: min-content;
    }
    
}